<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="">
        <!--<img src="#" width="50px">-->
        Agendamentos
    </a>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link btn btn-primary" href="/">Home</a>
          </li>
        <li class="nav-item ">
          <a class="nav-link btn btn-primary" href="/cadastro">Novo Cadastro</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link btn btn-primary" href="/list">Listar Cadastors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-primary disabled" style="vertical-align: center;">|</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link btn btn-primary" href="">Sair</a>
        </li>
      </ul>
</nav>