<%- include ('partials/header.ejs')%>
<%- include ('partials/navbar.ejs')%>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-7">
                <div class="card text-center">
                    <div class="card-header">
                        <h2>Cadastro de consulta</h2>
                    </div>
                    <div class="card-body">
                        <form action="create" method="POST">
                            <input type="text" name="name" id="name" placeholder="Nome do paciente"
                                class="form-control" />
                            <input type="email" name="email" id="email" placeholder="exemplo@email.com"
                                class="form-control" />
                            <input type="text" name="cpf" id="cpf" placeholder="CPF" class="form-control cpf" />
                            <input type="text" name="description" id="description" placeholder="Descrição"
                                class="form-control" />
                            <input type="date" name="date" id="date" placeholder="25/03/2004"
                                class="form-control" />
                            <input type="time" name="time" id="time" class="form-control" />
                            <button type="submit" class="btn btn-primary btn-block">
                                Agendar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="jquery.mask.min.js"></script>
    <script>
        $(".cpf").mask("000.000.000-00", { reverse: true });
    </script>

<%- include ('partials/footer.ejs')%>