<%- include ('partials/header.ejs')%>
<%- include ('partials/navbar.ejs')%>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-7">
        <div id="calendar"></div>
      </div>
    </div>
  </div>

  <script>
    let element = document.getElementById("calendar");
    let calendar = new FullCalendar.Calendar(element, {
      initialIew: 'dayGridMonth',
      locale: 'pt-br',
      events: 'getcalendar',
      eventClick: function (info) {
        window.location.href = '/event/' + info.event.id;
      }
    });
    calendar.render();
  </script>
<%- include ('partials/footer.ejs')%>